.content {
    padding-left: 270px;
    padding-top: 40px;
}

.nav-item {
    padding-left:  20px;
    padding-right:  20px;
    /*background: rgba(221, 221, 221, .7);*/
}

.nav-item:hover {
    background: rgb(204, 204, 204);
}

.wrapp-nav {
    padding-left: 250px;
}
