<div class="content">
    <div class="right-menu">
        <div class="right-menu-header">
            <div class="close-right-menu">x</div>
        </div>
        <div class="background-img">
            <div class="right-menu-content">
                <input class="input-description" type="text" placeholder="Description">
                <input class="input-link" type="text" placeholder="Insert a link">
            </div>
            <div class="hr-beetwen">
                <div class="hr"></div>
            </div>
            <div class="right-menu-footer">
                <button class="btn btn-success right-menu-add-button">Click Me</button>
                <button class="btn btn-primary">Click Me Too</button>
            </div>
        </div>
    </div>
</div>
